body {
    margin: 0;
    background-color: antiquewhite;
}

header {
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: deeppink;
    color: white;
}

header h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 275%;
}

span {
    color: black;
    font-size: 68px;
    font-weight: bold;
}

#cajaPrincipal {
    padding: 10px 10px;

}

.cajaTítulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 0;
    padding: 10px 10px;
}

.card-title a {
    text-decoration: none;
    color: inherit;
}

.card-title a:hover {
    text-decoration: none;
    color: inherit;
}

.card h5 {
    color: deeppink;
    font-size: 24px;
    font-weight: bold;
}

.btn-primary {
    padding: 5px;
    color: white;
    background-color: black;
    border-radius: 7px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    text-decoration: none;
}

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: deeppink;
    color: white;
}